body {
    margin: 0;
}

header {
    display: flex;
    justify-content: center;
    width: 100%;
    border-bottom: 1px solid #8d99ae;
    font-size: 1.3rem;
    font-family: 'HyundaiSansHeadKR';
    font-weight: bold;
    padding: 30px 0 30px 0;
}

header .header_logo {
    margin-right: 20px;
}

.container {
    width: 70%;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 15px;
    display: grid;
    grid-template-areas: 'a b c'
                         'd e c'
                         'f f g';

    grid-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
}

.frame2 p {
    margin-top: 32px;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1.1em;
}

.frame3 p, .frame4 p, .frame6 p, .frame7 p{
    position: absolute;
    left: 20px;
    bottom: 17px;
    z-index: 2;
    color: white;
    font-size: 1.3em;
    font-family: 'Poppins', sans-serif;
}

.frame3 i, .frame4 i, .frame6 i, .frame7 i {
    position: absolute;
    left: 20px;
    bottom: 13px;
    z-index: 2;
    color: white;
    font-size: 1.3em;
}

.frame5 p {
    position: absolute;
    left: 20px;
    top: -10px;
    z-index: 2;
    color: white;
    font-size: 1.3em;
    font-family: 'Poppins', sans-serif;
}

.frame5 i {
    position: absolute;
    left: 20px;
    top: 45px;
    z-index: 2;
    color: white;
    font-size: 1.3em;
}

.container img {
    width: 100%;
    height: 100%;
    z-index: 1;
}

.galary {
    display: flex;
    align-items: center;
}

.frame1 {
    grid-area: a;
    font-family: 'Poppins', sans-serif;
    font-size: 1.2em;
}

.frame2 {
    grid-area: d;
}

.frame3 {
    grid-area: b;
    position: relative;
}

.frame4 {
    grid-area: e;
    position: relative;
}

.frame5 {
    grid-area: c;
    position: relative;
}

.frame6 {
    grid-area: f;
    position: relative;
}

.frame7 {
    grid-area: g;
    position: relative;
}
